<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.ssm.mapper.OrderdetailsMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.Orderdetails" >
    <result column="orderid" property="orderid" jdbcType="INTEGER" />
    <result column="productid" property="productid" jdbcType="INTEGER" />
    <result column="unitprice" property="unitprice" jdbcType="DECIMAL" />
    <result column="qty" property="qty" jdbcType="SMALLINT" />
    <result column="discount" property="discount" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderid, productid, unitprice, qty, discount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.itcast.ssm.po.OrderdetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from OrderDetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="cn.itcast.ssm.po.OrderdetailsExample" >
    delete from OrderDetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.Orderdetails" >
    insert into OrderDetails (orderid, productid, unitprice, 
      qty, discount)
    values (#{orderid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{unitprice,jdbcType=DECIMAL}, 
      #{qty,jdbcType=SMALLINT}, #{discount,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.Orderdetails" >
    insert into OrderDetails
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="unitprice != null" >
        unitprice,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="discount != null" >
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="unitprice != null" >
        #{unitprice,jdbcType=DECIMAL},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=SMALLINT},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.itcast.ssm.po.OrderdetailsExample" resultType="java.lang.Integer" >
    select count(*) from OrderDetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update OrderDetails
    <set >
      <if test="record.orderid != null" >
        orderid = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.productid != null" >
        productid = #{record.productid,jdbcType=INTEGER},
      </if>
      <if test="record.unitprice != null" >
        unitprice = #{record.unitprice,jdbcType=DECIMAL},
      </if>
      <if test="record.qty != null" >
        qty = #{record.qty,jdbcType=SMALLINT},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=NUMERIC},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update OrderDetails
    set orderid = #{record.orderid,jdbcType=INTEGER},
      productid = #{record.productid,jdbcType=INTEGER},
      unitprice = #{record.unitprice,jdbcType=DECIMAL},
      qty = #{record.qty,jdbcType=SMALLINT},
      discount = #{record.discount,jdbcType=NUMERIC}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>