<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.ssm.mapper.SuppliersMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.Suppliers" >
    <result column="supplierid" property="supplierid" jdbcType="INTEGER" />
    <result column="companyname" property="companyname" jdbcType="NVARCHAR" />
    <result column="contactname" property="contactname" jdbcType="NVARCHAR" />
    <result column="contacttitle" property="contacttitle" jdbcType="NVARCHAR" />
    <result column="address" property="address" jdbcType="NVARCHAR" />
    <result column="city" property="city" jdbcType="NVARCHAR" />
    <result column="region" property="region" jdbcType="NVARCHAR" />
    <result column="postalcode" property="postalcode" jdbcType="NVARCHAR" />
    <result column="country" property="country" jdbcType="NVARCHAR" />
    <result column="phone" property="phone" jdbcType="NVARCHAR" />
    <result column="fax" property="fax" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    supplierid, companyname, contactname, contacttitle, address, city, region, postalcode, 
    country, phone, fax
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.itcast.ssm.po.SuppliersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Suppliers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="cn.itcast.ssm.po.SuppliersExample" >
    delete from Suppliers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.Suppliers" >
    insert into Suppliers (supplierid, companyname, contactname, 
      contacttitle, address, city, 
      region, postalcode, country, 
      phone, fax)
    values (#{supplierid,jdbcType=INTEGER}, #{companyname,jdbcType=NVARCHAR}, #{contactname,jdbcType=NVARCHAR}, 
      #{contacttitle,jdbcType=NVARCHAR}, #{address,jdbcType=NVARCHAR}, #{city,jdbcType=NVARCHAR}, 
      #{region,jdbcType=NVARCHAR}, #{postalcode,jdbcType=NVARCHAR}, #{country,jdbcType=NVARCHAR}, 
      #{phone,jdbcType=NVARCHAR}, #{fax,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.Suppliers" >
    insert into Suppliers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supplierid != null" >
        supplierid,
      </if>
      <if test="companyname != null" >
        companyname,
      </if>
      <if test="contactname != null" >
        contactname,
      </if>
      <if test="contacttitle != null" >
        contacttitle,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="postalcode != null" >
        postalcode,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="fax != null" >
        fax,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supplierid != null" >
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=NVARCHAR},
      </if>
      <if test="contactname != null" >
        #{contactname,jdbcType=NVARCHAR},
      </if>
      <if test="contacttitle != null" >
        #{contacttitle,jdbcType=NVARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=NVARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=NVARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=NVARCHAR},
      </if>
      <if test="postalcode != null" >
        #{postalcode,jdbcType=NVARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=NVARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=NVARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.itcast.ssm.po.SuppliersExample" resultType="java.lang.Integer" >
    select count(*) from Suppliers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Suppliers
    <set >
      <if test="record.supplierid != null" >
        supplierid = #{record.supplierid,jdbcType=INTEGER},
      </if>
      <if test="record.companyname != null" >
        companyname = #{record.companyname,jdbcType=NVARCHAR},
      </if>
      <if test="record.contactname != null" >
        contactname = #{record.contactname,jdbcType=NVARCHAR},
      </if>
      <if test="record.contacttitle != null" >
        contacttitle = #{record.contacttitle,jdbcType=NVARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=NVARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=NVARCHAR},
      </if>
      <if test="record.region != null" >
        region = #{record.region,jdbcType=NVARCHAR},
      </if>
      <if test="record.postalcode != null" >
        postalcode = #{record.postalcode,jdbcType=NVARCHAR},
      </if>
      <if test="record.country != null" >
        country = #{record.country,jdbcType=NVARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=NVARCHAR},
      </if>
      <if test="record.fax != null" >
        fax = #{record.fax,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Suppliers
    set supplierid = #{record.supplierid,jdbcType=INTEGER},
      companyname = #{record.companyname,jdbcType=NVARCHAR},
      contactname = #{record.contactname,jdbcType=NVARCHAR},
      contacttitle = #{record.contacttitle,jdbcType=NVARCHAR},
      address = #{record.address,jdbcType=NVARCHAR},
      city = #{record.city,jdbcType=NVARCHAR},
      region = #{record.region,jdbcType=NVARCHAR},
      postalcode = #{record.postalcode,jdbcType=NVARCHAR},
      country = #{record.country,jdbcType=NVARCHAR},
      phone = #{record.phone,jdbcType=NVARCHAR},
      fax = #{record.fax,jdbcType=NVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>